---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Apple TV rebuild with Framer Motion">
    <div class="header">HEADER</div>
    <main>
        <div class="hero">HERO</div>
        <div class="usps">
            USP's <br />
            <div class="3-cols">3 col layout</div>
        </div>
        <div class="carousels">
            <div class="carousel">Big Carousel</div>
            <div class="carousel">Small Carousel 2</div>
            <div class="carousel">Small Carousel 3</div>
        </div>
    </main>
</Layout>
