---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Usps from '@/components/section/Usps.astro'

// React components
import { Hero } from '@/components/section/hero'
import { Carousel } from '@/components/section/carousel/carousel'
---

<Layout title="Apple TV rebuild with Framer Motion">
    <Header />
    <main class="constrain col-fullbleed">
        <div class="constrain relative z-10 col-fullbleed bg-dark text-light">
            <Hero client:visible />

            <Usps />
        </div>

        <Carousel client:visible />

        <div class="constrain region col-fullbleed h-[200vh]">
            <h3>new sections</h3>

            <div class="col-fullbleed">fullbleed</div>

            <div class="col-main">main</div>

            <div>medium default</div>

            <div class="col-small">small</div>

            <div class="col-xsmall">xsmall</div>
        </div>
    </main>
</Layout>
