---
import Layout from '@layouts/Layout.astro'

import Card from '@components/Card.astro'
---

<Layout title="Welcome to Astro.">
    <article class="wrapper flow">
        <h1>CUBE CSS core setup</h1>
        <div class="switcher">
            <h2 class="text-step-3 text-dark">A heading and paragraph in two columns</h2>
            <p>
                Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet
                rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum
                faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur et.
            </p>

            <Card
                title="Card title"
                body="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                href="https://astro.build"
            />
        </div>
    </article>
</Layout>
