---
// React components
import { FadeIn } from '@components/fade-in'
---

<div class="relative z-10 space-y-l">
    <ul class="m-zero space-y-l p-zero text-4xl font-bold">
        <li>
            <FadeIn client:visible>
                Elke maand nieuwe Apple Originals. Altijd zonder reclame.
            </FadeIn>
        </li>

        <li>
            <FadeIn client:visible>
                Stream ze in de Apple TV-app op Apple devices, smart‑tv’s of consoles.
            </FadeIn>
        </li>

        <li>
            <FadeIn client:visible>
                Kijk in 4K HDR met ruimtelijke audio waar je helemaal in opgaat.
            </FadeIn>
        </li>

        <li>
            <FadeIn client:visible> Deel één abonnement met tot vijf anderen. </FadeIn>
        </li>
    </ul>

    <div class="3-cols">3 col layout</div>
</div>
